<div class="selection-container">
  <div class="selection-container__content">
    <h1 class="selection-container__title">
      Bem-vindo<br />
      ao<br />
      <span class="selection-container__brand">Concondrijo</span>
    </h1>

    <div class="selection-container__options">
      <button
        class="selection-container__button selection-container__button--parent"
        (click)="selectUserType('parent')"
      >
        Sou Pai
      </button>

      <button
        class="selection-container__button selection-container__button--teacher"
        (click)="selectUserType('teacher')"
      >
        Sou Professor
      </button>
    </div>
  </div>
</div>
