$primary-color: #04bfad;
$secondary-color: #75cccd;
$gray: #e1e1e1;
$white: #fff;
$black: #000;
$rose: #f97388;

// Otras variables que necesites

/** Utilidades */
.text-center {
  text-align: center;
}

.max-width-30 {
  max-width: 30rem;
}
